
<div>
<div >
  <button>registrar </button>
  <button>editar</button>
  <button>eliminar </button>

  <p >nombre del producto:  <input type="text" placeholder="nombre"></p>
  <p ><label>Cantidad: </label> <input type="number" placeholder="cantidad"></p>
  <p ><label>Fecha de ingrreso: </label> <input type="date" ></p>
  <p ><label>Usuario de ingreso: </label> <input type="text", placeholder="usuario" ></p>
  <p ><label>Info: </label> <input type="text", placeholder="usuario" ></p>

</div>
<div>
</div>
</div>
<router-outlet></router-outlet>